* {
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-align: left;
    border: 0;
    color: #23292e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: 0;
    font-size: 16px;
}

button {
    background: transparent;
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
}

html,
body {
    overflow-x: hidden;
}

input,
button,
textarea {
    appearance: none;
}